body {
	background-color:#171717;
	margin:0;
	max-width: 100%;
    overflow-x: hidden;
}
nav {
	top:0;
	position:absolute;
	width:100%;
	height:70px;
	background-color:transparent;
	display:flex;
	flex-direction:row;

	justify-content:space-between;
	z-index:2;

}

.links {
	display:flex;
	flex-direction:row;
}

.dropdown a{
	
	display:flex;
	justify-content:center;
	align-items:center;
}

#dropdown-link {

	margin:25px 20px 20px 20px;
	display:flex;
	align-items:center;
background-color:rgba(0, 0, 0, 0);
transition:all 0.2s;
}

#dropdown-links a:hover{

}

.dropdown a:hover {
	text-decoration:none;
}

.dropdown-links {
	display:flex;
	flex-direction:column;
	background-color:#171717;
	align-items:flex-start;
	position:absolute;
}

.dropdown-links a{
	font-family:Bask;
	padding-top:0px;
	padding:0px;
	
}


.boarding-slideshow {
	min-width:700px;
	margin-left:50px;
}

.links a, .footer-links-div a, .footer-contact a {
	font-size:30px;
	text-decoration:none;
	color:white;
	/*
	transition:all 0.2s;
	margin-bottom:18px;
	margin-left:13px;
	padding-left:5px;
	margin-right:13px;
	padding-right:5px;
	padding-top:20px;
	border-bottom:solid 12px rgba(0, 0, 0, 0);
	*/
	display:flex;
	align-items:flex-end;
	padding-left:5px;
	padding-right:5px;
	margin:35px 15px 20px 15px;
	height:20px;
	background-color:rgba(0, 0, 0, 0);
	
}

.links a:hover, .footer-links-div a:hover, .footer-contact a:hover {
	
	transition:all 0.2s;
	background-color:rgba(0, 0, 0, 0.6);
}

.dropdown:hover span{
	content:"arrow_drop_down";
	transform: rotate(180deg);
	transition: all 0.2s;
	text-decoration: none;
}
.dropdown span {
	text-decoration:none;
	transform: rotate(0deg);
	transition: all 0.2s;
}

.dropdown:hover .dropdown-links {
	display:flex;
}

.dropdown-links{
	display:none;
}

hr {
	width:100px;
	margin-left:0;
	margin-top:5px;
}

.logo {
	font-family:Belgiano;
	text-decoration:none;
	padding:10px;
	padding-right:0px;
	font-size:30px;
	color:white;
	font-weight:bold;
	line-height:30px;
	padding-left: 20px;
}

.header {
	height:950px;

	background-repeat:no-repeat;
	background-size:100%;
	background-position:100% 32%;
	display:flex;
	flex-direction:column;
	justify-content:space-between;

}
.slider-buttons {
	display:flex;
	flex-direction:row;
	justify-content:center;
	align-items:center;
	padding-bottom:10px;
	z-index:1;
}

.slider-button {
	display:block;
	width:10px;
	height:10px;
	border-radius:10px;
	background-color:rgba(255, 255, 255, 0.8);
	margin:8px;
	z-index:3;
}

.slider-button {
	cursor:pointer;
}

.slider-arrows {
	display: flex;
    flex-direction: row;
	align-items:center;
    justify-content: space-between;
	
}

.slider-arrows span {
	padding:425px 0px;
	font-size:60px;
	color:rgba(255, 255, 255, 0.8);
	position:relative;
	margin: 0 3px;
	
}

.slider-arrows span:hover {
	cursor:pointer;
	color:rgba(255, 255, 255, 1);
	transform:scale(1.1);
}

.slides-wrapper {
	position:absolute;
	width:100%;
	height:900px;
}

.slide { 
	display:flex;
	flex-direction:column;
	justify-content:center;
	width:100%;
	align-items:center;
	height:calc(100% + 50px);
	z-index:1;
	background-repeat:no-repeat;
	background-size:100%;
	background-position:100% 32%;
}

.slide-info h1 {
	font-size:125px;
	line-height:130px;
}

.slide-info {
		
}

#slide0 {
	background-image:url("images/dog.jpeg");
	background-position:100% 25%;
}

#slide1 {
	background-image:url("images/test4-2.jpg");
	display:none;
}

#slide2 {
	background-image:url("images/image2.jpeg");
	display:none;
}

#slide3 {
	background-image:url("images/test4-1.jpg");
	background-position:20% 35%;
	display:none;
}

#slide4 {
	background-image:url("images/test4-5.jpg");
	display:none;
	background-position:20% 50%;
}

#slide5 {
	background-image:url("images/bernpuppy.jpg");
	display:none;
	background-size: cover;
	background-position:55%;
}


.main-content {
	padding:50px 50px;
}

.contact-wrapper {
	width:100%;
display:flex;
flex-direction:row;
justify-content:space-between;
}

.main-info {
	max-width:700px;
	height:500px;
	color:white;
	display:flex;
	flex-direction:column;
}

.heading {
	align-self:flex-start;
	
}

.page-header{
	padding-top:70px;
	height:550px;
	background-image:url("dog.jpg");
	background-size:100%;
	background-attachment: fixed;
	display:flex;
	justify-content:center;
	align-items:center;
}

.page-header h1 {
	
}

.image-text {
	display:flex;
	flex-direction:row;
	padding:15px 0;
	
}

.image-text img {
	border-radius: 40px 0px 40px 0px;
	
}

.text-right {
	padding-right:50px;

}

.text-left {
	padding-left:50px;
}
.box-button {
	margin-top:10px;
	font-size:23px;
}
.box-link {
	width:533px;
	padding:15px;
	border:solid 2px white;

}

ul {
	padding-left: 20px;
}

button {
	transition:all 0.2s;
	padding:15px;
	color:white;
	font-family:Bask;
	font-size:32px;
	
	border:solid 3px white;
	background-color:#171717;
}

button:hover {
	cursor:pointer;
	background-color:white;
	color:#171717;

}

li{
	list-style-type: circle;
	list-style-position: outside;
	padding: 3px;
	font-size:20px;
}

@font-face {
	font-family: Belgiano;
	src: url(Belgiano.ttf);
}

@font-face {
	font-family: Bask-bold;
	src: url(Baskerville Bold font.ttf);
}

@font-face {
	font-family: Bask;
	src: url(baskvl.ttf);
}


@font-face {
	font-family: Bask-ital;
	src: url(BaskervilleItalicBT.ttf);
}


p {
	padding:5px 0px;
	font-size:23px;
	margin:0;
	font-family: Bask;
	color:white;
}

h1 {
	font-size:58px;
	font-family: Belgiano;
	margin:0;
	color:white;
}

h2 {
	margin:0;
	padding:0;
	font-family:Belgiano;
	color:white;
	font-size:36px;
	font-weight:normal;
}

a {
	font-family: Bask
}

form {
	display:flex;
	flex-direction:column;
	gap:15px;
	width:800px;
}

label {
	font-size:25px;
	color:white;
	font-family:Belgiano;
	
}

input {
	font-family:Bask;
	font-size:20px;
	padding:10px;

	border:solid 2px #d6d6d6;
	
}

input:focus {
	border:solid 2px white;
}

textarea {
	font-family:Bask;
	font-size:20px;
	padding:10px;
	border:solid 2px #d6d6d6;
	resize: none;
	
}

select {
	font-family:Bask;
	font-size:20px;
	padding:10px;
	border:solid 2px #d6d6d6;
	
}

.question {
	width:100%;

	min-width:500px;
	
}

.question a {
	color:white;
	text-decoration: white dashed underline;
}
.question-info {
	padding:10px;
	border:solid 2px white;
	
	display:flex;
	flex-direction:row;
	justify-content:space-between;
	align-items:center;
}

.question:hover {
	cursor:pointer;
}

.question-info span {
	color:white;
	font-size:40px;
	transition:all 0.2s;
	user-select: none;
}

.question h2 {
	font-size:28px;
}

.question p {
	font-size:23px;
	padding:0px;
}

.answer {
	margin-top:-2px;
	padding:10px;
	display:none;
	border:dotted 2px white;
	transition:all 1s;
}

.faq-wrapper{
	flex-direction:row;
	  display:flex;
	  flex-wrap:wrap;
	  gap:15px;
  }
  
.adoption-left {
	padding-right:50px;
}

.boarding-wrapper {
	display:flex;
	flex-direction:row;
}
 
 #boarding-slides {
	 justify-content:flex-start;
 }
 
 #boarding-slides img {
	 height:500px;
	 margin-top:-50px;
 }
  
#side-menu {
	border-left:solid 2px white;
	position:relative;
	flex-direction:column;
	align-items:center;
	justify-content:center;
	display:flex; 
	background-color:#171717;
	height:calc(100vh - 30px);
	z-index:10;
	padding:15px;
	margin-right:-100%;
	transition: all 0.3s;
}

#side-menu a {
	text-decoration:none;
	font-size:40px;
		color:white;
}

.hamburger {
	display:none;
	padding-right:5px;
}

.testimonial-wrapper {
	display:flex;
	flex-direction:row;
	flex-wrap:wrap;
	gap:50px;
	padding:50px;
}

.testimonial {
	width:550px;
	flex-grow:1;
	height:100%;
	display:flex;
	flex-direction:column-reverse;

	border:solid 3px white;
	border-radius:0px;
}

.testimonial-info {
	display:flex;
	flex-direction:column;
	align-items:center;
	padding:15px;

}

.testimonial-info p {
	padding:0px;
}

.testimonial-info h1 {
	font-family:Bask;
	line-height:0px;
	font-size:140px;
	font-weight:normal;
}

.testimonial img {

	width:100%;
	height:400px;
	object-fit:cover;
}

.test-arrows span {
	padding:15px;
}

.testimonial-slideshow {
	display:flex;
	flex-direction:column;
	width:100%;
	justify-content:center;
	align-items:center;
	
}

.puppy-slideshow {
	display:flex;
	flex-direction:column;
	
	width:100%;
	justify-content:center;
	align-items:center;
	height:100%;
	max-height:600px;
}

.puppy-slides img{
	display:none;
	width: 100%;
    height: 100%;
	object-position: 75% 50%;
    object-fit: cover;
}

.puppy-slides{
	display:flex;
	justify-content:flex-start;
	width:100%;
	height:500px;
}

.puppy-arrows {
	width:40%;
	display:flex;
	flex-direction:row;
	justify-content:space-between;
	align-items:center;
	position:absolute;
}

.puppy-arrows span {
	font-size:50px;
	color:white;
	user-select:none;
}

.puppy-arrows span:hover {
	cursor:pointer;
	color:white;
}

.puppy-info{
	
	padding:15px
}

.puppy-slides p{
	display:none;
}

.test-arrows {
	width:100%;
	max-width:550px;
	display:flex;
	flex-direction:row;
	justify-content:space-between;
	align-items:center;
	position:absolute;
}

.test-arrows span {
	font-size:50px;
	color:white;
	user-select:none;
}

.test-arrows span:hover {
	cursor:pointer;
	}

.test-slides p {
	display:none;
}

.test-slides {
	width:100%;
	height:400px;
	background-position:50% 40%;
	background-repeat:no-repeat;
}

.test-slides img{
	display:none;
}

.puppies-wrapper {
	padding:50px;
	display:flex;
	flex-direction:row;
	flex-wrap:wrap;
	justify-content:space-between;
}

.puppies-column{
	display:flex;
	flex-direction:column;
	width:calc(50% - 24px);
}

.puppy {
	margin-bottom:50px;
	border:solid 2px white;
	width:100%;
	display:flex;
	flex-direction:column;
	justify-content:space-between;


	width: calc(100% - 24px);
}

.box-wrapper {
	display:flex;
	flex-wrap:wrap;
	flex-direction:row;
	gap:50px;
}

.adoption-images {
	display:flex;
	flex-direction:column;
}

.adoption-images-row img {
	max-height:450px;
	object-fit:cover;
}

.adoption-images-row {
	justify-content:space-between;
	display:flex;
	flex-direction:row;
}

#test1img1 {
	display:flex;
}
#test1img2 {
	display:none;
}


.testimonial-column {
	display:flex;
	flex-direction:column;	
	height:100%;
	gap:50px;
	flex-grow:1;
}

.bar {
	transition:all 0.3s;
	margin:8px;
	margin-right:0px;
	z-index:5;
	display:block;
	width:40px;
	height:2px;

	background-color:white;
}

footer {
	display:flex;
	flex-direction:column;
	justify-content:space-between;
	align-items:center;
	padding:50px;
	color:white;
	background-color:black;
}
.footer-links-div {
	display:flex;
	flex-direction:column;
	padding-right:25px;
	border-right:solid 1px black;
}

.footer-links-div a, .footer-contact a {
	color:white;
	font-size:23px;
	margin-top:15px;
	margin-left:0px;
	margin-right:0px;
	
}

.footer-info {
	display:flex;
	flex-direction:row;
	justify-content:space-between;
	width:100%;
}

.copyright {
	font-size:18px;
}

.footer-contact a {
	margin-bottom:0px;
}

.footer-contact {
	display:flex;
	flex-direction:column;
	align-items:flex-end;
	justify-content:center;
}

.footer-links {
	gap:25px;
	display:flex;
	flex-direction:row;
}

#hamburger-wrapper{
	display:none;
}

@media only screen and (min-width: 1001px) {
	.slide-info {
		width:75%;
	}
	
	nav {
	width:calc(100% - 420px);

	}
	.question-column {
	display:flex;
	flex-direction:column;
	width:calc(50% - 7.5px);
	gap:20px;
}
	.logo img {
		height:60px;
	}


}

@media only screen and (max-width: 1000px) {
	.footer-links {
		gap:20px;
		flex-wrap:no-wrap;
	}
	
	.footer-links a, .copyright , 	.footer-contact a {
		font-size:20px;
	}
	
	
	.copyright {
		text-align:center;
	}
}

@media only screen and (max-width: 1200px) {
	.footer-links {
		flex-wrap:wrap;
	}
	.boarding-wrapper {
		display:flex;
		flex-direction:column;
	}
	
	.boarding-slideshow {
		margin-top:50px;
		margin-left:0px;
	}
	.puppies-column {
		width:100%;
	}
	.puppy-arrows {
		width:70%;
	}
}

@media only screen and (max-width: 1000px) {
	.adoption-left {
	padding-right:0px;
}
	
  #hamburger-wrapper{
	display:block;
}
  
  	.logo img {
		height:50px;
	}
  
  .links {
	  display:none;
  }
	
  .page-header h1{
	  font-size:45px;
  }
  
  .header, .slide {
	  height:700px;
  }
  
  .slider-arrows span {
	  padding:310px 0px;
  }
  
  .slide-info h1 {
	  font-size:100px;
	  line-height:normal;
  }
  
  .slide {
	  align-items:flex-start;
  }
  
  .slide-info {
	
	  display:flex;
	  flex-direction:column;
	  justify-content:flex-start;
	  align-items:flex-start;
	  margin-left:15%;
  }
  
  .question {
	  min-width:100%;
	  max-width:100%;
  }
  
  .question h2 {
	  font-size:30px;
  }
  
  nav {
	  	overflow-x:clip;
  }
  
  .contact-wrapper{
	  display:flex;
	  flex-wrap:wrap;
	  
  }
  
  .contact-form {
	  width:100%;
  }
  
   .contact-form form{
	  width:100%;
  }
  
  	.question-column {
	display:flex;
	flex-direction:column;
	width:100%;
	gap:20px;
}
}


.champions-wrapper{
	padding:50px;
	gap:50px;
	display:flex;
	flex-wrap:wrap;
}

.champions-row {
	display:flex;
	flex-direction:row;
	gap:50px;
	flex-wrap:wrap;
	flex-grow:1;
}

.champion h2 {
	 font-style: italic;
}

.champion {
display:flex;
flex-direction:column;
align-items:center;
width:565px;
height:500px;

}

.champion img {
	height:calc(100% - 50px);
	width:100%;
	object-fit:cover;
}



@media only screen and (max-width: 700px) {
	.puppy {
		margin-bottom:20px;
	}
	
	footer{
		flex-direction:column;
		gap:30px;
		align-items:flex-start;
		padding:20px;
	}
	
	#boarding-slides img {
		box-sizing:border-box;
		margin-top:-97px;
		height:494px;
		
	}
	
	.boarding-slideshow {
		min-width:100%;
		margin-left:0px;
		margin-top:20px;
	}
	
	.champion {
		width:100%;
	}
	
	.footer-info {
		flex-wrap: wrap;
	}
	
	.footer-links {
		flex-direction:column;
		gap:0px;
		
	}
	
	.footer-links-div {
		border:none;
	}
	
	.footer-links-div a{
		margin-top:10px;
		margin-bottom:10px;
	}
	
	.copyright {
		text-align:left;
		font-size:15px;
	}
	
	.footer-contact {
		align-items:flex-start;
	}
	
	.box-button {
	margin-top:10px;
	font-size:18px;
}
	.testimonial-column {
		width:100%;
		gap:20px;
	}
	
	.testimonial {
		width:100%;
		box-sizing: border-box;
	}
	
	.box-wrapper {
		gap:20px;
	}
	
	.box-link {
			width:calc(100% - 35px);
	}
	
	.champions-row {
		gap:20px;
	}
	
	.champions-wrapper {
		padding:20px;
		gap:20px;
	}
	
	.champion img {
		height:calc(100% - 20px);
	}
	
	.champion {
		min-width:100%;
		height:auto;
	}
	
	.champion h2 {
		font-size:30px;
	}
	
	button {
		font-size:22px;
	}
	
  .slide-info h1 {
	  font-size:90px;
  }
  
   .header, .slide {
	  height:500px;
  }
  
  .slider-arrows span {
	  padding:210px 0px;
  }
  
  .slider-arrows {
	  height:500px;
  }

  .page-header{
	  height:150px;

  }
  
  .logo {
	  font-size:20px;
	  line-height:20px;
	
  }
  
  .logo img {
	    position:absolute;
  }
  
  .question h2 {
	  font-size:25px;
  }
  
  .main-content {
	  padding:20px;
  }
  
  .contact-form {
	  padding-top:15px;
  }
  
  .puppies-wrapper {
	  padding:20px;
	  gap:20px;
	  display:flex;
	  flex-wrap:wrap;
  }
  
  .puppies-column {
	  width:100%;
  }
  
  .puppy {
	  display:flex;
	  flex-wrap:wrap;
	  height:100%;
	  width:calc(100% - 3px);
  }
  
  .puppy-slides {
	  width:100%;
	  height:100%;
  }
  
  .puppy-arrows {
	  width:calc(100% - 60px);
  }
  
  .puppy-info{
	  width:100%;
  }
  
  .puppy-slideshow {
	  max-height:300px;
  }
  
  .image-text {
	padding:0px;
	flex-wrap:wrap;
  }
  
  .text-right{
	  padding:0px;
	  padding-bottom:10px;
  }
  
  .text-left {
	  padding:0px;
	  padding-bottom:10px;
  }
  
  h1 {
	  line-height:47px;
  }
  
  h2 {
	  line-height:37px;
  }
  
 .s {
	 flex-wrap:wrap-reverse;
 }
 .testimonial-wrapper {
	 padding:20px;
	 gap:20px;
 }
 
 .test-arrows {
	width:calc(100% - 40px);
 }
 
 .test-slides, .testimonial img {
	 height:300px;
 }
 
 #long {
	 font-size:53px;
 }
}

@media only screen and (max-width: 500px) {
  .faq h1{
	  content:"FAQs";
  }
  
   .slide-info h1 {
	  font-size:65px;
	  line-height:65px;
	 
  }
  
  button {
	font-size:18px;
  }
  
 
  
  .slider-arrows span {
	  font-size:45px;
  }
}